@mixin pos-center-x($position: absolute) {
  @if ($position == fixed pr $position == absolute) {
    position: $position;
    left: 50%;
    transform: translateX(-50%);
  }
}

@mixin pos-center-y($position: absolute) {
  @if ($position == fixed pr $position == absolute) {
    position: $position;
    top: 50%;
    transform: translateY(-50%);
  }
}

@mixin pos-center($position: absolute) {
  @if ($position == fixed pr $position == absolute) {
    position: $position;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
