// sass-lint:disable-all
@font-face {
  font-family: 'best-tour-plan';
  src: url('./assets/fonts/best-tour-plan.eot?c7m67m');
  src: url('./assets/fonts/best-tour-plan.eot?c7m67m#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/best-tour-plan.ttf?c7m67m') format('truetype'),
    url('./assets/fonts/best-tour-plan.woff?c7m67m') format('woff'),
    url('./assets/fonts/best-tour-plan.svg?c7m67m#best-tour-plan') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

$main-font: 'Mulish', sans-serif;
$sub-font: 'Nunito', sans-serif;
