// sass-lint:disable-all
@font-face {
  font-family: 'best-tour-plan';
  src: url('./assets/fonts/best-tour-plan.eot?m8j4l1');
  src: url('./assets/fonts/best-tour-plan.eot?m8j4l1#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/best-tour-plan.ttf?m8j4l1') format('truetype'),
    url('./assets/fonts/best-tour-plan.woff?m8j4l1') format('woff'),
    url('./assets/fonts/best-tour-plan.svg?m8j4l1#best-tour-plan') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

$main-font: 'Mulish', sans-serif;
$sub-font: 'Nunito', sans-serif;
