%button {
  @include inline-flexbox;
  font-family: $sub-font;
  font-weight: 600;
  color: $white;
  background-color: $red;
  transition: background-color 200ms ease-in-out;

  &:not(:disabled):hover {
    background-color: #ce1235;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.btn-30 {
  @extend %button;
  @include text-style(12, 16);
  width: 10rem;
  height: 4rem;
}

.btn-40 {
  @extend %button;
  @include text-style(14, 19);
  width: 12rem;
  height: 4rem;
}

.btn-45 {
  @extend %button;
  @include text-style(14, 19);
  width: 29.5rem;
  height: 4.5rem;
}

.btn-50 {
  @extend %button;
  @include text-style(12, 15);
  width: 16rem;
  height: 5rem;
  font-family: $main-font;
  font-weight: 700;
}
