i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'best-tour-plan' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-star-black:before {
  content: '\e916';
}

.ic-calendar:before {
  content: '\e900';
}

.ic-call:before {
  color: #fff;
  content: '\e901';
}

.ic-call-fill:before {
  color: #bdbdbd;
  content: '\e902';
}

.ic-chevron:before {
  content: '\e903';
}

.ic-circle-check .path1:before {
  color: rgb(51, 51, 51);
  content: '\e904';
}

.ic-circle-check .path2:before {
  margin-left: -1em;
  color: rgb(255, 255, 255);
  content: '\e905';
}

.ic-email:before {
  color: #bdbdbd;
  content: '\e906';
}

.ic-facebook:before {
  color: #bdbdbd;
  content: '\e907';
}

.ic-gift:before {
  content: '\e908';
}

.ic-home:before {
  color: #fff;
  content: '\e909';
}

.ic-instagram:before {
  color: #bdbdbd;
  content: '\e90a';
}

.ic-location:before {
  color: #fff;
  content: '\e90b';
}

.ic-location-fill:before {
  color: #bdbdbd;
  content: '\e90c';
}

.ic-search:before {
  color: #fff;
  content: '\e911';
}

.ic-shopping-cart:before {
  content: '\e912';
}

.ic-star:before {
  color: #f2994a;
  content: '\e913';
}

.ic-user:before {
  content: '\e914';
  color: #fff;
}

.ic-youtube:before {
  content: '\e915';
  color: #bdbdbd;
}

.ic-menu:before {
  content: '\e917';
}
