$background: #f5fafe;
$white: #ffffff;
$black: #000000;
$red: #ec1f46;
$blue: #007adf;
$navy: #0a223d;
$yellow: #f2994a;

$gray-3: #333333;
$gray-8: #828282;
$gray-b: #bdbdbd;
$gray-c: #c4c4c4;
$gray-e: #e0e0e0;
$gray-f: #f2f2f2;
