$font-size-8: 0.8rem;
$line-height-8-10: 1.004rem;

$font-size-10: 1rem;
$line-height-10-12: 1.255rem;
$line-height-10-13: 1.364rem;

$font-size-12: 1.2rem;
$line-height-12-15: 1.506rem;
$line-height-12-16: 1.637rem;
$line-height-12-19: 1.92rem;

$font-size-13: 1.3rem;
$line-height-13-16: 1.632rem;

$font-size-14: 1.4rem;
$line-height-14-17: 1.757rem;
$line-height-14-19: 1.91rem;
$line-height-14-22: 2.248rem;

$font-size-16: 1.6rem;
$line-height-16-20: 2.008rem;

$font-size-18: 1.8rem;
$line-height-18-22: 2.259rem;
$line-height-18-24: 2.455rem;

$font-size-24: 2.4rem;
$line-height-24-30: 3.012rem;

$font-size-36: 3.6rem;
$line-height-36-45: 4.518rem;
