$font-size-8: 8px;
$line-height-8-10: 10.04px;

$font-size-10: 10px;
$line-height-10-12: 12.55px;
$line-height-10-13: 13.64px;

$font-size-12: 12px;
$line-height-12-15: 15.06px;
$line-height-12-16: 16.37px;
$line-height-12-19: 19.2px;

$font-size-13: 13px;
$line-height-13-16: 16.32px;

$font-size-14: 14px;
$line-height-14-17: 17.57px;
$line-height-14-19: 19.1px;
$line-height-14-22: 22.48px;

$font-size-16: 16px;
$line-height-16-20: 20.08px;

$font-size-18: 18px;
$line-height-18-22: 22.59px;
$line-height-18-24: 24.55px;

$font-size-24: 24px;
$line-height-24: 30.12px;
